<!-- child_header.html-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!-- page-title-wrapper-start -->
		<div class="page-title-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="page-title">
							<h3>Product Details</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- page-title-wrapper-end -->
		<!-- all-hyperion-page-start -->
		<div class="all-hyperion-page">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<!-- product-simple-area-start -->
						<div class="product-simple-area ptb-80">
							<div class="row">
								<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
									<div class="tab-content">
										<div class="tab-pane active" id="view1">
											<a class="image-link" href="img/product/15.jpg"><img style="width:800px; height:500px " src="{{ image_url }}" alt=""></a>
										</div>							
										<!-- <div class="tab-pane" id="view2">
											<a class="image-link" href="img/product/2.jpg"><img src="{{ image_url }}" alt=""></a>							
										</div>
										<div class="tab-pane" id="view3">
											<a class="image-link" href="img/product/3.jpg"><img src="{{ image_url }}" alt=""></a>							
										</div>
										<div class="tab-pane" id="view4">
											<a class="image-link" href="img/product/13.jpg"><img src="{{ image_url }}" alt=""></a>							
										</div>
										<div class="tab-pane" id="view5">
											<a class="image-link" href="img/product/6.jpg"><img src="{{ image_url }}" alt=""></a>							
										</div> -->
									</div>
									  <!-- Nav tabs -->
									<!-- <ul class="sinple-tab-menu" role="tablist">
										<li class=" active"><a href="#view1" data-toggle="tab"><img style="width:79px; height:99px;" src="img/product/15.jpg" alt="" /></a></li>
										<li><a href="#view2" data-toggle="tab"><img src="{% static 'img/product/tab/2.jpg' %}" alt="" /></a></li>
										<li><a href="#view3" data-toggle="tab"><img src="{% static 'img/product/tab/1.jpg' %}" alt="" /></a></li>
										<li><a href="#view4" data-toggle="tab"><img src="{% static 'img/product/tab/4.jpg' %}" alt="" /></a></li>
										<li><a href="#view5" data-toggle="tab"><img src="{% static 'img/product/tab/5.jpg' %}" alt="" /></a></li>
									</ul>									 -->
							   </div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
									<div class="product-simple-content">
										<div class="sinple-c-title">
											<h3>{{ name }}</h3>
										</div>
										<div class="checkbox">
											<span><i class="fa fa-check-square" aria-hidden="true"></i>In stock</span>
										</div>
										<span> SKU:MH03</span>
										<div class="product-price-star star-2">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<span>(1Review)&nbsp;&nbsp;|&nbsp;&nbsp; Add Your Review </span>
										</div>
											<h4>#{{ price }}</h4>
											
											<form method="POST" class="cart">
												{% csrf_token %}
												<div class="numbers-row">
													<label for="french-hens">Qty:</label>
													<input type="number" id="french-hens" name="quantity" value="3" required>
												</div>
												<br/>
												<br/>
												<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
												<div class="quick-add-to-cart">
													<input type="hidden" name="product" value="{{ product_id }}" required>
													<button class="btn btn-lg btn-success" type="submit">Add to Cart</button>
												</div>
											</form>
											
											
                                          <br/>
                                        
                                        <div class="quick-add-to-cart">
											
											<button type="button" class="btn btn-lg btn-warning col-sm-12"><span class="lnr lnr-cart"></span>Buy Now</button>	
												
                                                
                                                
										</div>
                                        
                                        
										<div class="action-heiper">
											<!--<a href="#"><span class="lnr lnr-sync"></span></a>-->
											<a href="#"  class="add-to-wishlist" data-product-id="{{ product_n }}"><span class="lnr lnr-cart"></span></a>
											<a href="#"><span class="lnr lnr-heart"></span></a>
										</div>	
										<p>Stay comfortable and stay in the race no matter what the weather's up to. The Bruno Compete Hoodie's water-repellent exterior shields you from the elements, while advanced fabric technology inside wicks moisture to keep you dry.</p>
									</div>
								</div>
							</div>							
						</div>
						<!-- product-simple-area-end -->
						<div class="product-info-detailed pb-80">
							<div class="row">
								<div class="col-lg-12">
									<div class="product-info-tab">
										<!-- Nav tabs -->
										<ul class="product-info-tab-menu" role="tablist">
											<li class="active"><a href="#details" data-toggle="tab">details</a></li>
                                            <li><a href="#property" data-toggle="tab">Properties</a></li>
                                            <!-- <li><a href="#careinstru" data-toggle="tab">Care Instruction</a></li> -->
                                              <li><a href="#warranty" data-toggle="tab">Warranty</a></li>
                                              <!--  <li><a href="#return" data-toggle="tab">Return</a></li> -->
											<li><a href="#reviews" data-toggle="tab">reviews 1</a></li>
										</ul>
											<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane active" id="details">
												<div class="product-info-tab-content">
													<p>Chilly weather is just an excuse to throw on your toasty, handsome new Oslo Trek Hoodie. It features an adjustable drawstring hood and a kangaroo pocket for extra hand warmth. The ultra-soft, cozy lining will have you wishing for more brisk days.</p>
													<ul>
														<li> Brown hoodie with black detail.</li>
														<li>Pullover.</li>
														<li>Adjustable drawstring hood.</li>
														<li>Ribbed cuffs/waistband.</li>
														<li>Machine wash/dry.</li>
													</ul>
												</div>
											</div>
                                            
                                            <div class="tab-pane" id="property">
												<div class="product-info-tab-content">
													<p>Chilly property is just an excuse to throw on your toasty, handsome new Oslo Trek Hoodie. It features an adjustable drawstring hood and a kangaroo pocket for extra hand warmth. The ultra-soft, cozy lining will have you wishing for more brisk days.</p>
													<ul>
														<li> Brown hoodie with black detail.</li>
														<li>Pullover.</li>
														<li>Adjustable drawstring hood.</li>
														<li>Ribbed cuffs/waistband.</li>
														<li>Machine wash/dry.</li>
													</ul>
												</div>
											</div>
                                            
                                            <div class="tab-pane" id="warranty">
												<div class="product-info-tab-content">
													<p>Chilly warranty is just an excuse to throw on your toasty, handsome new Oslo Trek Hoodie. It features an adjustable drawstring hood and a kangaroo pocket for extra hand warmth. The ultra-soft, cozy lining will have you wishing for more brisk days.</p>
													<ul>
														<li> Brown hoodie with black detail.</li>
														<li>Pullover.</li>
														<li>Adjustable drawstring hood.</li>
														<li>Ribbed cuffs/waistband.</li>
														<li>Machine wash/dry.</li>
													</ul>
												</div>
											</div>
                                            
											<div class="tab-pane" id="reviews">
												<div class="customer-review-top">
													<h3>Customer Reviews</h3>
													<h4>Plazathemes</h4>
													<div class="cus-review-left">
														<div class="single-customer-rating">
															<span>Quality</span>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="single-customer-rating">
															<span>Price</span>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="single-customer-rating">
															<span>Value</span>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
													</div>
													<div class="cus-review-left">
														<p>Plazathemes</p>
														<span> Review by Plazathemes </span>
														<span> Posted on 7/21/16 </span>
													</div>
												</div>
												<div class="customer-review-bottom fix">
													<h2>You're reviewing:</h2>
													<h2>Bruno Compete Hoodie</h2>
													<p>Your Rating <span>*</span></p>
													<div class="cus-review-left">
														<div class="single-customer-rating">
															<span>Price</span>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="single-customer-rating">
															<span>Value</span>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="single-customer-rating">
															<span> Quality</span>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
													</div>	
												</div>
												<div class="customer-review-form">
													<form>
														<div class="form-group contuct_f">
															<label for="exampleInputEmail1">Nickname <span>*</span></label>
															<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
														</div>
														<div class="form-group contuct_f">
															<label for="exampleInputPassword1">Summary <span>*</span></label>
															<input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
														</div>
														<div class="form-group contuct_f">
															<label for="exampleInputPassword1">Review <span>*</span></label>
															<textarea class="form-control" rows="3"></textarea>
														</div>
														<button type="submit" class="btn btn-default contact-btn">Submit Review</button>
													</form>	
												</div>												
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="hyper-banner pt-80 pb-40">
							<div class="row">
								<div class="col-lg-12">
									<div class="single-banner">
										<a href="#"></a>
									</div>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- all-hyperion-page-end -->
        
        <!-- Related product Start -->
        <section>
        <div class="container">
        <div class="upsell-product">
							<div class="upsell-product-title">
								<h3 class="text-uppercase">Related Products</h3>
							</div>
							<div class="row dotted-style3">
								<div class="upsell-product-active">
									{% for related_product in related_products %}
									<div class="col-lg-12">
										<div class="single-new-product">
											<div class="product-img">
												<a href="#">
													<img src="{{ related_product.image.url }}" style="height: 200px; width: 400px;" class="first_img" alt="" />
													<!-- <img src="{% static 'img/product/12.jpg' %}" class="seceond_img" alt="" /> -->
												</a>
												<div class="new-product-action feature-action">
												<!--	<a href="#"><span class="lnr lnr-sync"></span></a>-->
													<a href="#"><span class="lnr lnr-cart cart_pad"></span>Add to Cart</a>
													<a href="#"><span class="lnr lnr-heart"></span></a>
												</div>
											</div>
											<div class="product-content text-center">
												<a href="#"><h3>{{ related_product.name }}</h3></a>
												<div class="product-price-star">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<h4>{{ related_product.price}}</h4>
											</div>
										</div>
									</div>
									{% endfor %}				
								</div>
							</div>						
						</div>
        </div>
        </section><!-- Related product end -->
        
        <!-- Icons related start -->
        <section class="icon_section">
        <div class="container">
        <div class="row">
        <div class="col-md-3 col-sm-3">
        <h4 style="padding:5px 0;"><img src="{% static 'img/004-delivery-truck.png' %}"></h4>
        <h5 style="padding:5px 0;">Free Home Delivery</h5>
        <p>Whatever you order, our products ship free. Always.</p>
        </div>
        
         <div class="col-md-3 col-sm-3"><h4 style="padding:5px 0;"><img src="{% static 'img/003-undo-button.png' %}"></h4>
        <h5 style="padding:5px 0;">On-The-Spot Returns</h5>
        <p>Didn't like it? No problem. Return it on the spot at the time of delivery.</p></div>
         
          <div class="col-md-3 col-sm-3">
          <h4 style="padding:5px 0;"><img src="{% static 'img/002-cash-money.png' %}"></h4>
        <h5 style="padding:5px 0;">C.O.D</h5>
        <p>You can pay by Cash or Card at the time of delivery.</p></div>
          
           <div class="col-md-3 col-sm-3">
           <h4 style="padding:5px 0;"><img src="{% static 'img/001-tools.png' %}"></h4>
        <h5 style="padding:5px 0;">Free Installation</h5>
        <p>We assemble the product, and clear away the packaging.</p></div>
        </div>
        </div>
        </section>
         <!-- Icons related Ends -->
		<script>
document.addEventListener('DOMContentLoaded', function() {
  const form = document.querySelector('.cart');
  const quantityInput = document.getElementById('french-hens');
  const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

  form.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    const quantity = quantityInput.value;

    // Create a new FormData object and append the quantity and CSRF token
    const formData = new FormData();
    formData.append('quantity', quantity);
    formData.append('csrfmiddlewaretoken', csrfToken);

    // Send the form data to the server using fetch API
    fetch('', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrfToken
      }
    })
    .then(response => response.json())
    .then(data => {
      // Handle the response from the server
      console.log(data);
	  alert("Item added to cart")
    })
    .catch(error => {
      // Handle any error that occurred during the request
      console.error(error);
    });
  });
});

</script>		  
<script>
	function getCookie(name) {
const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
return cookieValue ? cookieValue.pop() : '';
}

 function createWishlist(event) {
   event.preventDefault();

   const product_id = event.currentTarget.dataset.productId;

   if (product_id) {
	 const csrfToken = getCookie('csrftoken');

	 const form = document.createElement('form');
	 form.method = 'POST';
	 form.action = 'wish-list/';
	 form.style.display = 'none';

	 const productInput = document.createElement('input');
	 productInput.type = 'hidden';
	 productInput.name = 'product_id';
	 productInput.value = product_id;

	 const csrfInput = document.createElement('input');
	 csrfInput.type = 'hidden';
	 csrfInput.name = 'csrfmiddlewaretoken';
	 csrfInput.value = csrfToken;

	 form.appendChild(productInput);
	 form.appendChild(csrfInput);
	 document.body.appendChild(form);

	 form.submit();
   } else {
	 console.error('Product ID is missing.');
   }
 }

 // Add event listeners to all elements with the 'add-to-wishlist' class
 const addToWishlistButtons = document.querySelectorAll('.add-to-wishlist');
 addToWishlistButtons.forEach(button => {
   button.addEventListener('click', createWishlist);
 });
</script>  
{% endblock %}
