<!-- child_header.html-->
{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}
	
	
		<!-- mainmenu-area-end -->
		<!-- page-title-wrapper-start -->
		<div class="page-title-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-title">
							<h3>Create New Customer Account</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- page-title-wrapper-end -->
		<!-- contuct-form-area-start -->
			<div class="login-area ptb-80">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
							<div class="login-title">
								<h3>Create New User Account</h3>
							</div>
							<div class="login-form" id="errorMsg">
								<form method="post">  
									{% csrf_token %}  
									  {% for field in form %}  
									  <p>  
										{{ field.label_tag }}<br>  
										{{ field }}  
										{% if field.help_text %}  
										  <small style="display: none ">{{ field.help_text }}</small>  
										{% endif %}  
										{% for error in field.errors %}  
										  <p style="color: red">{{ error }}</p>  
										{% endfor %}  
									  </p>  
									  {% endfor %}  
									<button type="submit">Sign up</button>  
								  </form> 				
							</div>
							<a href="#" class="back">back</a>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        
                        <div class="login-title">
								<h3>Sign in with Social Media Account</h3>
							</div>
                        
                        <a href="{% provider_login_url 'facebook'%}" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
          </a>
          
          <a href="{% provider_login_url 'google' %}" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google
          </a>
                        </div>
					</div>
				</div>
			</div>
		<!-- contuct-form-area-end -->
				<script>
// const userdata =  document.getElementById("signup_form")
// userdata.addEventListener("submit", submitHandler);
       
// function submitHandler(e){
// 		e.preventDefault();

// 		first_name = document.getElementById("exampleInputName1").value;
// 		last_name = document.getElementById("exampleInputName2").value;
// 		confirm_password = document.getElementById("exampleInputPassword2").value
// 		email = document.getElementById("exampleInputEmail1").value
// 		password = document.getElementById("exampleInputPassword1").value

// 		if (first_name == "" || last_name == "" || password == "" || email == "") {
// 			alert("Please fill the required fields correctly")
// 			return false;
// 		}
// 		else if (password != confirm_password){
// 			console.log(password + confirm_password)
// 			alert("Password do not match");
// 			return false;
// 		}
// 		else {
// 				const formData = new FormData();
// 		//console.log(name);
// 		formData.append('first_name', first_name);
// 		formData.append('email', email);
// 		formData.append('last_name', last_name);
// 		formData.append('password', password);
// 		formData.append('confirm_password', confirm_password)
// 		formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
// 		console.log(formData);
// 		fetch('{% url "sign-up" %}', {
// 			method: 'POST',
// 			body: formData
// 		})
// 		.then(response => response)
// 		.then(data => {
// 			alert("Success! You have been redirected")
// 			window.location.href = '/confirmation/'
// 		})
// 		.catch(error => {
// 			alert("error in the input field. Try again ")
// 		});
// 				return true;
// 		}

// }



const subscriber =  document.getElementById("subscribe")
subscriber.addEventListener("submit", subscriberForm);
       
function subscriberForm(e){
		e.preventDefault();

		email = document.getElementById("emailSub").value

		if (email == "") {
			alert("Please fill the required fields correctly")
			return false;
		}

		else {
				const formData = new FormData();
		//console.log(name);
		formData.append('email', email);
		formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
		console.log(formData);
		fetch('{% url "news-letter" %}', {
			method: 'POST',
			body: formData
		})
		.then(response => response)
		.then(data => {
			alert("Success! you have been redirected")
			// window.location.href = '/confirmation/'
		})
		.catch(error => {
			alert("error ")
		});
				return true;
		}

}
		</script>

{% endblock %}