<!-- child_header.html-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	
		<!-- page-title-wrapper-start -->
		<div class="page-title-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="page-title">
							<h3>Shop</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bedroom-all-product-area ptb-80">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="bedroom-sideber">
							<div class="bedroom-title text-uppercase">
								<h4>Shopping Options</h4>
							</div>
						</div>
						<!-- price-slider-area-start -->
						<div class="price-slider-area">
							<h3 class="bedroom-side-title">price</h3>						
							<div id="slider-range"></div>
							<p>
								<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
							</p>
						</div>
						<!-- price-slider-area-end -->
						<!-- Category-start -->
						<div class="category-area-start">
							<div class="caregory">
								<h3 class="bedroom-side-title">category</h3>
								<ul>
									<li> <div class="checkbox">
										<label>
											<input type="checkbox"> Nightstands <span>(14)</span>
										</label>
									</div>
								    </li>
								    	<li> <div class="checkbox">
								    		<label>
								    			<input type="checkbox"> Nightstands <span>(14)</span>
								    		</label>
								    	</div>
								        </li>
								        	<li> <div class="checkbox">
								        		<label>
								        			<input type="checkbox"> Nightstands <span>(14)</span>
								        		</label>
								        	</div>
								            </li>


									<!-- <li><a href="#">Nightstands <span>(5)</span></a></li>
									<li><a href="#">Headboards <span>(67)</span></a></li> -->
								</ul>
							</div>
						</div>
						<!-- Category-end -->
						<!-- .sideber-color-start -->
						<div class="sideber-color mt-40">
							<h3 class="bedroom-side-title">Color</h3>
								<ul>
									<li> <div class="checkbox">
										<label>
											<input type="checkbox"> Purple <span>(14)</span>
										</label>
									</div>
								    </li>
								    	<li> <div class="checkbox">
								    		<label>
								    			<input type="checkbox"> Blue <span>(14)</span>
								    		</label>
								    	</div>
								        </li>
								        	<li> <div class="checkbox">
								        		<label>
								        			<input type="checkbox"> Yellow <span>(14)</span>
								        		</label>
								        	</div>
								            </li>
								            	<li> <div class="checkbox">
								            		<label>
								            			<input type="checkbox"> Red <span>(14)</span>
								            		</label>
								            	</div>
								                </li>


									<!-- <li><a href="#">Nightstands <span>(5)</span></a></li>
									<li><a href="#">Headboards <span>(67)</span></a></li> -->
								</ul>
						</div>
						<!-- .sideber-color-end -->
						<!-- Category-start -->
						<div class="category-area-start">
							<div class="caregory manufacturer mt-40">
								<h3 class="bedroom-side-title">Manufacturer</h3>
								<ul>
									<li> <div class="checkbox">
										<label>
											<input type="checkbox"> ABC <span>(14)</span>
										</label>
									</div>
								    </li>
								    	<li> <div class="checkbox">
								    		<label>
								    			<input type="checkbox"> XHJH <span>(14)</span>
								    		</label>
								    	</div>
								        </li>
								        	<li> <div class="checkbox">
								        		<label>
								        			<input type="checkbox"> AAAA <span>(14)</span>
								        		</label>
								        	</div>
								            </li>
								            	<li> <div class="checkbox">
								            		<label>
								            			<input type="checkbox"> HGTGR <span>(14)</span>
								            		</label>
								            	</div>
								                </li>


									<!-- <li><a href="#">Nightstands <span>(5)</span></a></li>
									<li><a href="#">Headboards <span>(67)</span></a></li> -->
								</ul>
							</div>
						</div>
						
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<!-- category-products-area-start -->
						<div class="caregory-products-area">
							<div class="row">
								<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
									<ul class="tab_menu">
										<li class="active"><a href="#viewed" data-toggle="tab"><i class="fa fa-th"></i></a></li>
										<!--<li><a href="#random " data-toggle="tab"><i class="fa fa-list"></i></a></li>-->
									</ul>					
								</div>
								<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
									<div class="product-option">
										<div class="porduct-option-left floatleft">
											<span> Items 1-16 of 17</span>
										</div>
										<div class="product-option-right floatright">
											<div class="sort-by">
												<label>Sort By:</label>
												<select class="cust-select">
												   <option selected="selected">Position</option>
												   <option>name</option>
												   <option>price</option>
											   </select>
												<a href="#"><i class="fa fa-arrow-up"></i></a>
											</div>
											<div class="sort-by">
												<label>Show:</label>
												<select class="cust-select cust-select-2">
												   <option selected="selected">21</option>
												   <option>22</option>
												   <option>23</option>
												   <option>24</option>
												   <option>25</option>
											   </select>												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-content">
								<div class="tab-pane active" id="viewed">
									<div class="row">
										{% for product in products  %}
										<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<div class="single-new-product mt-40 category-new-product">
												<div class="product-img">
													<a href="{% url 'add_cart' product_id=product.id  %}">
														<img style="width: 200px; height:200px" src="{{ product.image.url }}" class="first_img" alt="" />
														
													</a>
													<div class="new-product-action">
														<!-- <a href="#"><span class="lnr lnr-sync"></span></a> -->
														<a href="{% url 'add_cart' product_id=product.id %}"><span class="lnr lnr-cart cart_pad"></span>Add to Cart</a>
														<a href="#" class="add-to-wishlist" data-product-id="{{ product.id }}"><span class="lnr lnr-heart"></span></a>

													</div>
													{% if product.discounted_price != product.price %}
													<span class="new">{{ product.discount }}</span>
													{% endif %}
												</div>
												<div class="product-content text-center">
													<a href="product-details.html"><h3>{{ product.name }}</h3></a>
													<div class="product-price-star">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="price">
														<h4>₦{{ product.discounted_price }}</h4>
														{% if product.discounted_price != product.price %}
														<h3 class="del-price"><del>₦{{ product.price }}</del></h3>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								
							</div>
						</div>
						<!-- category-products-area-end -->
						<!-- pagination-area-start -->
						<div class="pagination-area mt-40 pt-40">
							<div class="pagination-text">
								<p>Items 1-16 of 17</p>
							</div>
							<div class="bedroom-pagination">
								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li><a href="#">Page</a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li>
											<a href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									</ul>
								</nav>							
							</div>
						</div>
						<!-- pagination-area-end -->
					</div>
				</div>
			</div>
		</div>
		<!-- bedroom-all-product-area-end -->
	
		<script>
			 function getCookie(name) {
    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
    return cookieValue ? cookieValue.pop() : '';
  }

		  function createWishlist(event) {
			event.preventDefault();
		
			const product_id = event.currentTarget.dataset.productId;
		
			if (product_id) {
			  const csrfToken = getCookie('csrftoken');
		
			  const form = document.createElement('form');
			  form.method = 'POST';
			  form.action = 'wish-list/';
			  form.style.display = 'none';
		
			  const productInput = document.createElement('input');
			  productInput.type = 'hidden';
			  productInput.name = 'product_id';
			  productInput.value = product_id;
		
			  const csrfInput = document.createElement('input');
			  csrfInput.type = 'hidden';
			  csrfInput.name = 'csrfmiddlewaretoken';
			  csrfInput.value = csrfToken;
		
			  form.appendChild(productInput);
			  form.appendChild(csrfInput);
			  document.body.appendChild(form);
		
			  form.submit();
			  alert('Product added to wishlist successfully');
			} else {
			  console.error('Product ID is missing.');
			}
		  }
		
		  // Add event listeners to all elements with the 'add-to-wishlist' class
		  const addToWishlistButtons = document.querySelectorAll('.add-to-wishlist');
		  addToWishlistButtons.forEach(button => {
			button.addEventListener('click', createWishlist);
		  });
		</script>
		

{% endblock %}
