<!-- child_header.html-->
{% extends 'base.html' %}
{% load static %}

{% block content %}	
		<!-- page-title-wrapper-start -->
		<div class="page-title-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-title">
							<h3>Create New Customer Account</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- page-title-wrapper-end -->
		<!-- contuct-form-area-start -->
			<div class="login-area ptb-80">
				<div class="container">
					<div class="container">
  <div  class="col-sm-12">
        <h3>Edit Profile</h3>
        <hr/>
        <div class="col-sm-3"> <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left">
			
			{% if request.user.is_authenticated %}
            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
			{% endif %}
            {% if not request.user.is_authenticated %} <li><a href="#chnage_passwrd" data-toggle="tab">Change Password</a></li>{% endif %}
			 {% if request.user.is_authenticated %}<li><a href="#deliveryaddress" data-toggle="tab">Delivery Address</a></li>{% endif %}
			 {% if request.user.is_authenticated %}  <li><a href="#reentorders" data-toggle="tab">Recent Orders</a></li>{% endif %}
			 {% if request.user.is_authenticated %} <li><a href="#returnorders" data-toggle="tab">Return Orders</a></li>{% endif %}
          </ul>
        </div>

        <div class="col-sm-9">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
            <div class="login-form">
							{% if request.user.is_authenticated %}
								<form method="POST" id="update_profile">
									{% csrf_token %}
									<div class="form-group login-page">
										<label for="">First Name <span>*</span></label>
										<input type="text" class="form-control" id="" name="first_name" required>
									</div>
									<div class="form-group login-page">
										<label for="">Last Name <span>*</span></label>
										<input type="text" class="form-control" id="" name="last_name" required>
									</div>		
									<div class="form-group login-page">
										<label for="">Email <span>*</span></label>
										<input type="email" class="form-control" id="" name="email" required>
									</div>								
									
									<button type="submit" class="btn btn-default login-btn">Submit</button>
								</form>	
								{% endif %}					
							</div>
							
            
            </div>
            
             <div class="tab-pane" id="chnage_passwrd">
				{% if not request.user.is_authenticated %}
             <form>
					<div class="form-group login-page">
						<label for="">New Password<span>*</span></label>
						<input type="password" class="form-control" id=""  name="new_password" required>
					</div>
													
					<div class="form-group login-page">
						<label for="">Confirm Password<span>*</span></label>
						<input type="password" class="form-control" id="" name="confirm_password" required>
					</div>								
					
					<button type="submit" class="btn btn-default login-btn">Submit</button>
				</form>	
				{% endif %}
             </div>
            
            
            <div class="tab-pane" id="deliveryaddress">
            <div class="col-md-12 col-sm-12 col-xs-12">
				{% if  request.user.is_authenticated %}

             <h4 class="profile_addresstab">Choose Address</h4>
			 {% for address in user_addresses %}
			 <div class="col-md-6 col-sm-6 col-xs-12 multiple_address">
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio{{ forloop.counter }}" value="{{ address.id }}">
				  {{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.country }} {{ address.postal_code }}
				</label>
			  </div>
			  {% endfor %}
                    </div>
                                
                                
                             
             <div class="col-md-12 col-sm-12">
             
             <h4 class="profile_addresstab">Enter New Address Here</h4>
             <form action="{% url 'address_list' %}" method="POST" id="address_form">
				{% csrf_token %}
             <div class="col-md-6">
							<div class="checkout-form-list">
								<label>City <span class="required">*</span></label>										
								<input type="text" placeholder="" name="city"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="checkout-form-list">
								<label>State <span class="required">*</span></label>										
								<input type="text" placeholder="" name="state"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="checkout-form-list">
								<label>Country <span class="required">*</span></label>										
								<input type="text" placeholder="" name="country"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="checkout-form-list">
								<label>Address <span class="required">*</span></label>										
								<input type="text" placeholder="" name="street"/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="checkout-form-list">
								<label>Postal code <span class="required">*</span></label>
								<input type="number" placeholder="Street address" name="postal_code"/>
							</div>
						</div>
						<button type="submit" class="btn btn-default login-btn">Submit</button>

					</form>
							{% endif %}
             </div>                  
									
                                
            
            </div>
			{% if request.user.is_authenticated %}

            <div class="tab-pane" id="reentorders">
            <div class="wishlist-table table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-remove"><span class="nobr">Remove</span></th>
												<th class="product-thumbnail">Image</th>
												<th class="product-name"><span class="nobr">Product Name</span></th>
                                                <th class="product-name"><span class="nobr">Order No.</span></th>
												<th class="product-price"><span class="nobr"> Unit Price </span></th>
												<!--<th class="product-stock-stauts"><span class="nobr"> Stock Status </span></th>
												<th class="product-add-to-cart"><span class="nobr">Buy It Again </span></th>-->
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="product-remove"><a href="#">x</a></td>
												<td class="product-thumbnail"><a href="#"><img src="img/wishlist/1.jpg" alt="" /></a></td>
												<td class="product-name"><a href="#">Washing Machine</a></td>
                                                <td class="product-name"><a href="#">DJS33271881</a></td>
												<td class="product-price"><span class="amount">Rs35.00</span></td>
												<!--<td class="product-stock-status"><span class="wishlist-in-stock">In Stock</span></td>
												<td class="product-add-to-cart"><a href="#"> Buy It Again</a></td>-->
											</tr>
											<tr>
												<td class="product-remove"><a href="#">x</a></td>
												<td class="product-thumbnail"><a href="#"><img src="img/wishlist/2.jpg" alt="" /></a></td>
												<td class="product-name"><a href="#">Television</a></td>
                                                 <td class="product-name"><a href="#">DJS47626288</a></td>
												<td class="product-price"><span class="amount">$250.00</span></td>
												<!--<td class="product-stock-status"><span class="wishlist-in-stock">In Stock</span></td>
												<td class="product-add-to-cart"><a href="#"> Buy It Again</a></td>-->
											</tr>
											{% endif %}
										</tbody>
										
									</table>
								</div>
            
            </div>
			{% if request.user.is_authentcated %}

            <div class="tab-pane" id="returnorders">
            <div class="wishlist-table table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-name"><span class="nobr">Product Name</span></th>
                                                <th class="product-name"><span class="nobr">Order No.</span></th>
												<th class="product-price"><span class="nobr"> Unit Price </span></th>
                                                <th class="product-remove"><span class="nobr">Check Process</span></th>
												<!--<th class="product-stock-stauts"><span class="nobr"> Stock Status </span></th>
												<th class="product-add-to-cart"><span class="nobr">Buy It Again </span></th>-->
											</tr>
										</thead>
										<tbody>
											<tr>
												<!--<td class="product-remove"><a href="#">x</a></td>-->
												
												<td class="product-name"><a href="#">Television</a></td>
                                                <td class="product-name"><a href="#">DJS82218221</a></td>
												<td class="product-price"><span class="amount">$935.00</span></td>
                                               <td class="product-name"><a href="#">Check Process</a></td>
												<!--<td class="product-stock-status"><span class="wishlist-in-stock">In Stock</span></td>
												<td class="product-add-to-cart"><a href="#"> Buy It Again</a></td>-->
											</tr>
											<tr>
												<!--<td class="product-remove"><a href="#">x</a></td>-->
												
												<td class="product-name"><a href="#">Television</a></td>
                                                <td class="product-name"><a href="#">DJS82218221</a></td>
												<td class="product-price"><span class="amount">$935.00</span></td>
                                               <td class="product-name"><a href="#">Check Process</a></td>
												<!--<td class="product-stock-status"><span class="wishlist-in-stock">In Stock</span></td>
												<td class="product-add-to-cart"><a href="#"> Buy It Again</a></td>-->
											</tr>
											{% endif %}
										</tbody>
										
									</table>
								</div>
            
            </div>
            
            
          </div>
        </div>

        <div class="clearfix"></div>

      </div>
</div><!-- /container -->
				</div>
			</div>
		<!-- contuct-form-area-end -->
		<!-- contact-area-start -->
		<div class="contact-area ptb-40">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mar_b-30">
						<div class="contuct-info text-center">
							<h4>Sign up for news & offers!</h4>
							<p>You may safely unsubscribe at any time</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-8 col-sm-12 col-lg-offset-1 col-xs-12">
						<div class="search-box">
							<form action="#">
								<input type="email" placeholder="Enter your email address"/>
								<button><span class="lnr lnr-envelope"></span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- contact-area-end -->
            {% endblock %}
